<div class="site-wrapper">

    <div class="site-wrapper-inner">
        <div class="image-wrapper">
            <div class="container">
                <div class="inner cover ">
                    <h1 class="text-x">Noleggia subito la tua auto</h1>
                    <p class="text-p">Scopri il nostro catalogo</p>
                    <p class="text-p">
                        <a href="#" class="btn btn-lg btn-default">Lista veicoli</a>
                    </p>
            </div>
            
        </div>
    </div>
    </div>

</div>